.footer{
    background-color: rgba(#243038,0.88);
    margin-top: 50px;
    @include breakpoint(xs)
    {
        margin-top: 25px;
    }
    @include breakpoint(sm)
    {
        margin-top: 30px;
    }
    @include breakpoint(md)
    {
        margin-top: 40px;
    }
    .data-footer-top{
        padding-top: 40px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: nowrap;
        @include breakpoint(md)
        {
            padding-top: 35px;
            padding-bottom: 25px;
        }
        @include breakpoint(sm)
        {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        @include breakpoint(xs)
        {
            padding-top: 20px;
            padding-bottom: 5px;
            display: block;
        }

        .columna1, .columna2
        {
            flex:2;
            color:rgba($color-white,0.7);
            font-size: ceil(($font-size-base * 0.85)); 
            padding-left: 30px;
            padding-right: 65px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-right: 1px solid rgba($color-white,0.2);
            @include breakpoint(md)
            {
                font-size: ceil(($font-size-base * 0.75));
                padding-left: 25px;
                padding-right: 25px; 
            } 
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.7));   
                padding-left: 17px;
                padding-right: 17px;
            } 
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.65));
                padding-left: 10px;
                padding-right: 10px;
                border-right: none;
            } 
            &:last-child{
                border-right:0px;
            }
            p{
                margin-bottom: 11px;
                &:last-child{
                    margin-bottom: 0px;
                    @include breakpoint(xs)
                    {
                        margin-bottom: 12px;
                    }
                }
                @include breakpoint(xs)
                {
                    margin-bottom: 9px;
                }
            }
            ul{
                li{
                    margin-bottom: 4px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .columna2{
            flex:3;
            .columna-inter{
                display: flex;
                flex-wrap: nowrap;
                flex:1;
                width: 100%;
                justify-content: space-evenly;
                @include breakpoint(xs)
                {
                    display: block;
                    p{
                        margin-bottom: 1px;
                    }
                }
            }
        }
    }
    .data-footer-bottom{
        padding-top: 27px;
        padding-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top:1px solid rgba($color-white,0.2);
        @include breakpoint(xs)
        {
            padding-top: 13px;
            padding-bottom: 15px;
        } 
    }
}


.ul-socialmedia-footer
{
    list-style-type: none;
    padding:0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 18%;
    padding-right: 18%;
    @include breakpoint(md)
    {
        padding-left: 13%;
        padding-right: 13%
    }
    @include breakpoint(sm)
    {
        padding-left: 8%;
        padding-right: 8%
    }
    @include breakpoint(xs)
    {
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: wrap;
    }
    li
    {
        padding:0px;
        margin: 0px;
        display: flex;
        align-items: center;
        &::before
        {
            content:none;
        }
        .linkeding-footer{
            display: inline-block;
            margin-right: 10px;
            svg{
                width: 18px;
                height: auto;       
            }
        }
        .facebook-footer{
            display: inline-block;
            margin-right: 10px;
            svg{
                width: 18px;
                height: auto;  
                path{
                    fill:rgba($color-white,0.7);
                } 
                @include breakpoint(md)
                {
                    width: 17px;
                }
                @include breakpoint(sm)
                {
                    width: 16px;
                }
                @include breakpoint(xs)
                {
                    width: 15px;
                }    
            }
            @include breakpoint(md)
            {
                margin-right: 8px;
            }
            @include breakpoint(sm)
            {
                margin-right: 7px;
            }
            @include breakpoint(xs)
            {
                margin-right: 6px;
            }
        }
        .instagram-footer{
            display: inline-block;
            margin-right: 10px;
            svg{
                width: 18px;
                height: auto; 
                path{
                    fill:rgba($color-white,0.7);
                }
                @include breakpoint(md)
                {
                    width: 17px;
                }
                @include breakpoint(sm)
                {
                    width: 16px;
                }
                @include breakpoint(xs)
                {
                    width: 15px;
                }   
            }
            @include breakpoint(md)
            {
                margin-right: 8px;
            }
            @include breakpoint(sm)
            {
                margin-right: 7px;
            }
            @include breakpoint(xs)
            {
                margin-right: 6px;
            }
        }
        .twitter-footer{
            display: inline-block;
            margin-right: 10px;
            svg{
                width: 18px;
                height: auto;   
                path{
                    fill:rgba($color-white,0.7);
                } 
                @include breakpoint(md)
                {
                    width: 17px;
                }
                @include breakpoint(sm)
                {
                    width: 16px;
                }
                @include breakpoint(xs)
                {
                    width: 15px;
                } 
            }
            @include breakpoint(md)
            {
                margin-right: 8px;
            }
            @include breakpoint(sm)
            {
                margin-right: 7px;
            }
            @include breakpoint(xs)
            {
                margin-right: 6px;
            }
        }
        a{
            display: inline-block;
            color:rgba($color-white,0.7);
            font-size: ceil(($font-size-base * 0.80));
            @include breakpoint(md)
            {
                font-size: ceil(($font-size-base * 0.75));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.7));
            }
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.65));
            }
            font-family: $font-menu;
            &:hover,&:active,&:focus{
                color:rgba($color-white,0.7);
                text-decoration: underline;
            }
        }
        &:first-child{
            color:rgba($color-white,0.7);
            font-weight: 400;
            padding-left: 20px;
            font-family: $font-menu;
            font-size: ceil(($font-size-base * 0.95));
            @include breakpoint(md)
            {
                font-size: ceil(($font-size-base * 0.9));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.85));
            }
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.75));
                width: 100%;
                justify-content: center;
                margin-bottom: 8px;
            }
        }
    }
}