.header
{
	border-top:7px solid $color-red;
	//height: 202px;	
}

.data-header
{
	
	.fecha-socialmedia
	{
		
	}
	.logo-audio
	{
		display: flex;
		flex-wrap: nowrap;
		.columna
		{
			flex: 1;
		}
		.logo
		{
			flex: 1;
			a{
				display: inline-block;
				svg{
					width: 450px;
					height: auto;
					@include breakpoint(md)
					{
						width: 400px;
					}

					@include breakpoint(sm){
						width: 340px;
					}
					
					@include breakpoint(xs){
						width: 200px;
					}
				}
			}
		}
		.audio
		{
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.content-menu
	{
		.menu
		{

		}
		.content-search
		{

		}
	}
}

.fecha-socialmedia
{
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	@include breakpoint(xs){
		min-height: 35px;
	}
	@include breakpoint(sm){
		min-height: 40px;
	}
	@include breakpoint(md){
		min-height: 45px;
	}

	.fecha
	{
		margin-bottom: 0px;
		font-size: ceil(($font-size-base * 0.75));
		padding: 0px 0px;
		font-weight: 600;
		&::first-letter{
			text-transform: uppercase;
		}
		@include breakpoint(md){
			font-size: ceil(($font-size-base * 0.7));
		}

		@include breakpoint(sm){
			font-size: ceil(($font-size-base * 0.65));
		}
		
		@include breakpoint(xs){
			font-size: ceil(($font-size-base * 0.55));
		}
	}
	.socialmedia
	{
		padding-right: 8px;
		display:flex;
		
		.content-search
		{
			text-align: right;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 8px;
			form#search-form
			{
				input[type="search"]
				{
					padding:4px 7px;
					outline: none;
					border:1px solid #cbcbcb;
					border-radius: 4px;
					font-size: ceil(($font-size-base * 0.8));
					min-width: 210px;
					@include breakpoint(md){
						min-width: 180px;
						font-size: ceil(($font-size-base * 0.75));
					}
			
					@include breakpoint(sm){
						font-size: ceil(($font-size-base * 0.7));
					}
					
					@include breakpoint(xs){
						font-size: ceil(($font-size-base * 0.65));
					}

				}
				margin:0px;
			}
			a#link-search
			{
				display: inline-block;
				margin-left: 8px;
				svg{
					width: 18px;
					height: auto;
				}
			}
		}
		.ul-socialmedia
		{
			padding:0px;
			margin:0px;
			display: flex;
			align-items: center;
			li{
				padding:0px;
				margin:0px;
				margin-left: 15px;
				@include breakpoint(xs){
					margin-left: 7px;
				}
				&::before
				{
					content:none;
				}
				&:first-child{
					margin-left: 0px;
				}
				&:last-child{
					margin-left: 18px;
					@include breakpoint(xs){
						margin-left: 10px;
					}
				}
				.fa{
					display: inline-block;
					svg{
						width: 16px;
						height: auto;
						@include breakpoint(md){
							width: 15px;
						}
				
						@include breakpoint(sm){
							width: 14px;
						}
						
						@include breakpoint(xs){
							width: 13px;
						}
					}
				}
				.twi
				{
					display: inline-block;
					svg{
						width: 16px;
						height: auto;
						@include breakpoint(md){
							width: 15px;
						}
				
						@include breakpoint(sm){
							width: 14px;
						}
						
						@include breakpoint(xs){
							width: 13px;
						}
					}
				}
				.inst
				{
					display: inline-block;
					svg{
						width: 16px;
						height: auto;
						@include breakpoint(md){
							width: 15px;
						}
				
						@include breakpoint(sm){
							width: 14px;
						}
						
						@include breakpoint(xs){
							width: 13px;
						}
					}
				}
				.linke
				{
					display: inline-block;
					svg{
						width: 16px;
						height: auto;
						@include breakpoint(md){
							width: 15px;
						}
				
						@include breakpoint(sm){
							width: 14px;
						}
						
						@include breakpoint(xs){
							width: 13px;
						}
					}
				}
			}
		}
	}
}

.logo-audio
{
	padding-top:7px;
	padding-bottom: 10px;
	.columna
	{

	}
	.logo
	{

	}
	.audio
	{

	}
	@include breakpoint(md){
		padding-top:5px;
		padding-bottom: 7px;
	}

	@include breakpoint(sm){
		padding-top:2px;
		padding-bottom: 4px;
	}
	
	@include breakpoint(xs)
	{
		padding-top:0px;
		padding-bottom: 0px;
	}
}

.content-menu
{
	border-top:1px solid $color-texto;
	border-bottom:1px solid $color-texto;
	//padding-top: 5px;
	//padding-bottom:3px;
	//padding-bottom: 12px;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	.menu
	{
		flex:25;
	}
	.site-title{
		flex:4;
		display:none;
		//display:flex;
		align-items: center;
		justify-content: center;
	}
	.site-title.visible-title 
	{
		display:flex;
	}
}

.menu
{
	display:flex;
	padding:0px;
	margin:0px;
	justify-content:space-between;	
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	@include breakpoint(sm){
		padding-left: 5px;
		padding-right: 5px;
	}
	& > li
	{
		padding:0px;
		margin:0px;
		text-align: center;
		position: relative;
	 	& > a
	 	{
			font-family: $font-menu;
			display: flex;
			align-items: center;
			justify-content: center;
			color:$color-title;
			font-size: ceil(($font-size-base * 0.8));
			font-weight: 500;
			padding-left:23px;
			padding-right:23px;
			height: 48px;
			border-bottom:3px solid transparent;
			position: relative;
			@include breakpoint(md){
				font-size: ceil(($font-size-base * 0.75));
				padding-left: 20px;
				padding-right: 20px;
			}
			@include breakpoint(sm){
				font-size: ceil(($font-size-base * 0.65));
				padding-left: 7px;
				padding-right: 7px;
			}
			@include breakpoint(xs)
			{
			}
			&:hover,&:active,&:focus
			{
				color:$color-red;
			}
			&::after
			{
				z-index: 1;
				content:'';
				display: block;
				width: 100%;
				height: 4px;
				background-color: transparent;
				position: absolute;
				bottom:-4px;
				left:0px;
			}
	 	}
		&.current-menu-item{
			a{
				font-weight: 500;
				color:$color-red;
				&::after
				{
					background-color: $color-red;
				}	
			}
		}

		&::before{
			content:none;
		}

		&.icono-home{
			a{
				
				padding-left: 0px;
				padding-right: 0px;
			}	
			svg{
				width: 24px;
				height: auto;
			}
		}

		& > ul.sub-menu
		{
			position: absolute;
			left:20px;
			top:48px;
			width: auto;
			z-index: 200;
			list-style-type: none;
			padding:0px;
			margin:0px;
			text-align: left;
			background-color: rgba(255,255,255,0.9);
			box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
			border:1px solid rgba($color-texto, 0.4);
			display: none;
			@include breakpoint(sm)
			{
				left:0px;
			}
			@include breakpoint(md)
			{
				left:15px;
			}
			& > li{
				padding:0px;
				margin: 0px;
				& > a{
					font-family: $font-menu;
					font-weight: 500;
					color:$color-title;
					font-size: ceil(($font-size-base * 0.73));
					display: block;
					padding: 6px 25px 6px 15px;
					border-bottom: 1px solid rgba($color-texto,0.4);
					white-space: nowrap;
					@include breakpoint(md)
					{
						font-size: ceil(($font-size-base * 0.65));
						padding: 5px 20px 5px 20px;
					}
					@include breakpoint(sm)
					{
						font-size: ceil(($font-size-base * 0.55));
						padding: 4px 10px 4px 10px;
					}
					@include breakpoint(xs)
					{
						font-size: ceil(($font-size-base * 0.5));
					}
					&:hover,&:active,&:focus{
						color:$color-red;
					}
				}
				&:last-child{
					& > a{
						border-bottom-color:transparent;
					}
					
				}
				&::before
				{
					content:none;
				}
			}
			
		}

		&.li-item-submenu{
			position: relative;
			& > a {
				&::before
				{
					content:'';
					position: absolute;
					right:4px;
					bottom:5px;
					width: 6px;
					height: 6px;
					border-right: 7px solid transparent;
					border-top: 8px solid $color-title;
					border-left: 7px solid transparent;
					border-bottom: 8px solid transparent;
					@include breakpoint(sm){
						right:-3px;
						bottom:7px;
						width: 4px;
						height: 4px;
						border-right: 5px solid transparent;
						border-top: 6px solid $color-title;
						border-left: 5px solid transparent;
						border-bottom: 6px solid transparent;
					}
					@include breakpoint(md)
					{
						right:2px;
					}
				}
			}	
		}

		&:hover,&:active,&:focus
		{
			&.li-item-submenu{
				position: relative;
				& > a {
					color:$color-red;
					&::before
					{
						border-top-color: $color-red;	
					}
				}	
			}

			ul.sub-menu{
				display: block;
			}
		}

	}	
}



/* scroll */

.menu-sticky
{
	background-color: $color-white;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	z-index: 100;
	border-bottom:7px solid $color-red;
	.content-menu{
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;

		.menu
		{
			padding-right: 0px;
			padding-left: 0px;
			& > li{
				& > a
				{
					font-size: ceil(($font-size-base * 0.75));
					@include breakpoint(md){
						font-size: ceil(($font-size-base * 0.7));
						padding-left: 18px;
						padding-right: 18px;
					}
					@include breakpoint(sm){
						font-size: ceil(($font-size-base * 0.65));
						padding-left: 7px;
						padding-right: 7px;
					}

				}
				&.icono-home
				{
					display: none;
				}
			}
		}
	}
}

.logo-fixed{
	a{
		display: inline-block;
		img, svg{
			width: 145px;
			height: auto;
			@include breakpoint(md){
				width: 130px;
			}
			@include breakpoint(sm){
				width: 100px;
			}
		}
	}
}

/* /scroll */


.logo
{
	text-align:center;
	a{
		display:inline-block;
		img
		{
			width:400px;
			height:auto;
		}
	}	
}



