.content-page-home{
    padding: 45px 0px 50px 0px;
    @include breakpoint(xs){
        padding: 10px 0px 20px 0px;
    }
    @include breakpoint(sm){
        padding: 35px 0px 35px 0px;
    }
    @include breakpoint(md){
        padding: 40px 0px 45px 0px;
    }
}


.divisor-importante
{
    display: flex;
    flex-wrap: nowrap;
    .columna-1{
        flex:1;
    }
}

.divisor-normal
{
    display: flex;
    flex-wrap: nowrap;
    .columna-1{
        flex:8;
        margin-right: 1.1%;
        .noticias-columnas{
            margin-top: 20px;
        }
        @include breakpoint(xs)
        {
            margin-right: 0px;
        }
    }
    .columna-2{
        flex:3;
        margin-left: 1.1%;
        .contenedor-noticias-no-destacadas{
            margin-bottom: 25px;
        }
        .cuadro{
            margin-top: 55px;
            @include breakpoint(xs)
            {
                margin-top: 25px;
            }
        }
        @include breakpoint(xs)
        {
            margin-left: 0px;
        }
    }
    @include breakpoint(xs)
    {
        display: block;
    }
}

.divisor-2-columnas-interior{
    display:flex;
    flex-wrap: nowrap;
    .columna-1-interior{
        flex:5;
        margin-right: 2.5%;
        @include breakpoint(xs)
        {
            margin-right: 0px;
        }
        @include breakpoint(sm)
        {
            margin-right: 0px;
        }
    }
    .columna-2-interior{
        flex:3;
    }
    @include breakpoint(xs)
    {
        display: block;
    }
    @include breakpoint(sm)
    {
        display: block;
    }
}


.divisor-intermedio
{
    display: flex;
    justify-content: space-between;
    @include breakpoint(xs)
    {
        display: block;    
    }
    .columna-1{
        flex:6;
        margin-right: 1.05%;
        @include breakpoint(xs)
        {
            margin-right: 0px;
        }
        @include breakpoint(sm)
        {
            flex:4;
            
        }
        .noticias-columnas{
            margin-top: 33px;
        }
        .noticias-columnas.noticias-columnas-margin{
            margin-top: 0px;
        }
        .noticias-columnas-margin-bottom
        {
            margin-bottom: 50px;
            @include breakpoint(xs)
            {
                margin-bottom: 25px;
            }
        }
    }
    .columna-2{
        flex:3;
        margin-left: 1.05%;
        @include breakpoint(xs)
        {
            margin-left: 0px;
        }
        .contenedor-noticias-no-destacadas{
            margin-bottom: 25px;
        }
        .cuadro{
            margin-top: 50px;
            @include breakpoint(xs)
            {
                margin-top: 25px;
            }
        }
    }
}


.divisor-2-columnas{
    display: flex;
    flex-wrap: nowrap;
    & > .columna{
        flex:1;
        &:first-child{
            margin-right: 1.5%;
            @include breakpoint(xs)
            {
                margin-right: 0px;
            }
            @include breakpoint(sm)
            {
                margin-right: 0px;
            }
        }
        &:last-child{
            margin-left: 1.5%;
            @include breakpoint(xs)
            {
                margin-left: 0px;
            }
            @include breakpoint(sm)
            {
                margin-left: 0px;
            }
        }
    }
    @include breakpoint(xs)
    {
        display: block;
    }
    @include breakpoint(sm)
    {
        display: block;
    }
}
.divisor-2-columnas-full{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    & > .columna{
        flex:1;
        &:first-child{
            padding-right:2%;
            @include breakpoint(xs)
            {
                padding-right:0px;
            }
        }
        &:last-child{
            padding-right: 2%;
            @include breakpoint(xs)
            {
                padding-right:0px;
            }
        }
    }
    @include breakpoint(xs)
    {
        display: block;
    }
}

.divisor-3-columnas-full
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    & > .columna{
        
        &:first-child{
            padding-right:1.3%;
            flex:2;
            @include breakpoint(xs){
                padding-right:0px;
            }
        }
        &:last-child{
            padding-left:1.3%;
            flex:1;
            @include breakpoint(xs){
                padding-left:0px;
            }
        }
    }

    @include breakpoint(xs){
        display: block;
    }
}

.divisor-4-columnas-full
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    & > .columna{
        flex:1;
        
        &:first-child{
            padding-right:1.3%;
            @include breakpoint(xs){
                padding-right:0px;
            }
            @include breakpoint(sm){
                width: 50%;
                flex:inherit;
            }
        }
        &:nth-child(2){
            padding-left:0.65%;
            padding-right:0.925%;
            @include breakpoint(xs){
                padding-left: 0px;
                padding-right:0px;
            }
            @include breakpoint(sm){
                width: 50%;
                flex:inherit;
                padding-left:1.3%;
                padding-right:0px;
            }
        }
        &:nth-child(3){
            padding-left:0.925%;
            padding-right:0.65%;
            @include breakpoint(xs){
                padding-left: 0px;
                padding-right:0px;
            }
            @include breakpoint(sm){
                width: 50%;
                flex:inherit;
                padding-right:1.3%;
                padding-left:0px;
            }
        }
        &:last-child{
            padding-left:1.3%;
            @include breakpoint(xs){
                padding-left:0px;    
            }
            @include breakpoint(sm){
                width: 50%;
                flex:inherit;
            }
        }

        @include breakpoint(xs){
            margin-bottom: 30px;
        }
        
    }
    @include breakpoint(xs){
        display: block;
    }
    @include breakpoint(sm){
        flex-wrap: wrap;
    }
}



.divisor-margin{
    margin-bottom: 50px;
    @include breakpoint(xs){
        margin-bottom: 25px;
    }
    @include breakpoint(sm){
        margin-bottom: 40px;
    }
}

.noticia-destacada{
    background-image:url("../assets/img/NOTA_POLITICA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
    width: 100%;
    position:relative;
    &:hover,&:active,&:focus{
        cursor: pointer;
    }

    @include breakpoint(sm){
        height: 300px;
    }

    @include breakpoint(xs){
        height: 180px;
    }

    /*
    .text-noticia-destacada
    {
        position: absolute;
        bottom:20px;
        padding-top: 15px;
        padding-bottom: 17px;
        left:0px;
        width: 100%;
        color:$color-white;
        margin-bottom:0px;
        background-color:$color-title;
        mix-blend-mode: hard-light;
        padding-left: 4%;
        padding-right: 4%;
        h1,h2,h3{
            color:$color-white;
            a{
                color:$color-white;
                &:hover,&:active,&:focus{
                    color:$color-white;
                    opacity: 1;
                }
            }
        }
        p{
            margin-bottom: 0px;
            font-weight: 500;
        }
    }
    */
}

.noticia-destacada.noticia-destacada-normal
{
    height: 375px;
    @include breakpoint(xs){
        height: 180px;
    }
    @include breakpoint(sm){

    }
    @include breakpoint(md){

    }
}


.noticia-destacada-importante{
    height: 550px;
    margin-bottom: 10px;
    @include breakpoint(xs){
        height: 190px;
    }
    @include breakpoint(sm){
        height: 300px;
    }
    @include breakpoint(md){
        height: 500px;
    }
}

.info-noticia-destacada-importante{
    padding-top: 4px;
    .date-item{
        font-size: ceil(($font-size-base * 0.85));
        margin-bottom: 10px;
        span{
            vertical-align: middle;
            display: inline-block;
            i{
                margin-right: 3px;
                transform: translateY(1px);
            }
        }
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.6));
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 0.65));
        }
    }
    p{
        font-size: ceil(($font-size-base * 1.1));
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.80));
            margin-bottom: 0px;
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 1));
        }
        @include breakpoint(md)
        {
            font-size: ceil(($font-size-base * 1.05));
        }
    }
}

.noticia-destacada{
    margin-bottom: 10px;
    .date-item{
        margin-bottom: 10px;
    }
}

.text-noticia-destacada{
    .date-item{
        margin-bottom: 10px;
        font-size: ceil(($font-size-base * 0.85));
        span{
            vertical-align: middle;
            display: inline-block;
            i{
                margin-right: 3px;
                transform: translateY(1px);
            }
        }
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.6));
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 0.65));
        }
    }
}

.contenedor-noticias-no-destacadas{
}

.recuadro{
    text-align: center;
}

h4.h4-title-category-red{
    font-family: $font-menu;
    font-size: ceil(($font-size-base * 1));
    font-weight: 500;
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 20px;
    & > span, & > a{
        display: inline-block;
        background-color:$color-red; 
        color:$color-white;
        padding: 4.5px 20px;
        &:hover,&:active,&:focus{
            opacity: .8;
        }
        @include breakpoint(xs){
            padding: 3px 12px;
        }
        @include breakpoint(sm){
            padding: 3.5px 15px;
        }
        @include breakpoint(md){
            padding: 4px 18px;
        }
    }
    @include breakpoint(xs){
        font-size: ceil(($font-size-base * 0.8));
        margin-bottom: 12px;
    }
    @include breakpoint(sm){
        font-size: ceil(($font-size-base * 0.9));
        margin-bottom: 15px;
    }
    @include breakpoint(md){
        font-size: ceil(($font-size-base * 0.95));
        margin-bottom: 18px;
    }
    //border-bottom: 4px solid $color-background;
}


h4.h4-title-category-black{
    font-family: $font-menu;
    font-size: ceil(($font-size-base * 1));
    font-weight: 500;
    width: 100%;
    color:$color-white;
    letter-spacing: 1px;
    margin-bottom: 20px;
    //border-radius: 1px 1px 0px 0px;
    & > span{
        display: inline-block;
        background-color:$color-title; 
        color:$color-white;
        padding: 4.5px 20px;
        &:hover,&:active,&:focus{
            opacity: .8;
        } 
        @include breakpoint(xs){
            padding: 3px 12px;
        }
        @include breakpoint(sm){
            padding: 3.5px 15px;
        }
        @include breakpoint(md){
            padding: 4px 18px;
        }
    }
    @include breakpoint(xs){
        font-size: ceil(($font-size-base * 0.8));
        margin-bottom: 12px;
    }
    @include breakpoint(sm){
        font-size: ceil(($font-size-base * 0.9));
        margin-bottom: 15px;
    }
    @include breakpoint(md){
        font-size: ceil(($font-size-base * 0.95));
        margin-bottom: 18px;
    }
}

h4.h4-title-category-50{
    width: 48.5%;
    @include breakpoint(xs){
        width: 100%;
    }
    @include breakpoint(sm){
        width: 100%;
    }
}


.noticias-no-destacadas{
    @include breakpoint(xs){
        margin-bottom: 20px;
    }
    .item{
        border-bottom:1px solid rgba($color-texto,0.4);
        padding-bottom:12px;
        padding-top: 12px;
        .imagen-no-destacada{
            margin-bottom: 10px;
            a{
                display: inline-block;
                &:hover
                {
                    img{
                        filter: saturate(180%);
                    }   
                }
            }
            img{
                width: 100%;
            }
        }
        h5{
            margin-bottom: 10px;
        }
        p{
            font-size: ceil(($font-size-base * 0.9));
            margin-bottom: 10px;
            line-height: 1.35em;
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.75));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.85));
            }
        }
        .date-item{
            font-size: ceil(($font-size-base * 0.7));
            span{
                vertical-align: middle;
                display: inline-block;
                i{
                    margin-right: 3px;
                    transform: translateY(1px);
                }
            }
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.6));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.65));
            }
        }
        &:last-child{
            padding-bottom: 0px;
            border-bottom: none;
        }
        &:first-child{
            padding-top: 0px;
        }
    }

    .item-flex{
        display: flex;
        .imagen-no-destacada{
            margin-right: 4%;
            padding-top: 4px;
            img{
                width: 95px;
                height: 75px;
                @include breakpoint(xs){
                    width: 85px;
                    height: 66px;
                }
            }
            .img-redonda
            {
                width: 84px;
                height: 84px;
                border-radius: 50%;
                max-width: inherit;
            }
        }
        .text-destacada{

        }
    }
}


.cuadro-bbc
{
    margin-top: 50px;
    @include breakpoint(xs){
        margin-top: 25px;
    }
    .header-bbc
    {
        img{
            width: 100%;
            height: auto;
        }
    }
    .content-bbc
    {
        /*
        width: 100%;
        height: 170px;
        background-image:url("../assets/img/BBC.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        */
    }
    .footer-bcc
    {
        background-color:$color-black;
        color:$color-white;
        padding: 15px 15px 15px 15px;
        .date-item{
            font-size: ceil(($font-size-base * 0.7));
            margin-bottom: 7px;
            span{
                vertical-align: middle;
                display: inline-block;
                i{
                    margin-right: 3px;
                    transform: translateY(1px);
                }
            }
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.6));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.65));
            }
        }
        h5{
            a{
                color:$color-white;
                &:hover,&:active,&:focus
                {
                    color:$color-white;
                }
            }
        }
    }
}

.data-sidebar{
    @include breakpoint(sm)
    {
        display: flex;
        flex-wrap: nowrap;
        & > .contenedor-noticias-no-destacadas{
            flex:2;
        }
        & > .pub-sidebar{
            flex:1;
        }
    }
}