.page-interior{
    padding-top: 50px;
    @include breakpoint(xs){
        padding-top: 15px;
    }
    @include breakpoint(sm){
        padding-top: 35px;
    }
    @include breakpoint(md){
        padding-top: 45px;
    }
}

.page-listado{
    margin-bottom: 50px;
    @include breakpoint(xs){
        margin-bottom: 20px;
    }
    @include breakpoint(sm){
        margin-bottom: 30px;
    }
    @include breakpoint(md){
        margin-bottom: 40px;
    }
}

.page-info
{
    margin-bottom: 50px;
    @include breakpoint(xs){
        margin-bottom: 20px;
    }
    @include breakpoint(sm){
        margin-bottom: 30px;
    }
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    a{
        font-weight: 600;
    } 
    img{
        max-width: 100%;
        height: auto;
    }
    figcaption{
        color:$color-date;
        font-size: ceil(($font-size-base * 0.7));
        text-align: center;
        margin-bottom: 0px;
        line-height: 1.5em;
        @include breakpoint(xs){
            font-size: ceil(($font-size-base * 0.55));
            line-height: 1.2em;
        }
        @include breakpoint(sm){
            font-size: ceil(($font-size-base * 0.60));
            line-height: 1.3em;
        }
        @include breakpoint(md){
            font-size: ceil(($font-size-base * 0.65));
            line-height: 1.4em;
        }
    }
    .wp-block-image{
        margin-bottom: 25px;
        @include breakpoint(xs){
            margin-bottom: 17px;
        }
        @include breakpoint(sm){
            margin-bottom: 22px;
        }
        @include breakpoint(md){
            margin-bottom: 25px;
        }
    }
}


.socialmedia-rutas
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include breakpoint(xs){
        display: block;
        margin-bottom: 20px;
    }
    @include breakpoint(sm)
    {    
        margin-bottom: 25px;
    }
    .rutas
    {
        color:$color-date;
        text-transform: uppercase;
        font-size: ceil(($font-size-base * 0.8));
        font-weight: 500;
        font-family: $font-menu;
        @include breakpoint(xs){
            font-size: ceil(($font-size-base * 0.6));
            margin-bottom: 10px;
        }
        @include breakpoint(sm){
            font-size: ceil(($font-size-base * 0.7));
        }
        @include breakpoint(md){
            font-size: ceil(($font-size-base * 0.75));
        }
        & > span{
            margin-left: 4px;
            margin-right: 4px;
            @include breakpoint(xs){
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        a{
            color:$color-date;
            &:hover,&:active,&:focus
            {
                color:$color-date;
            }
        }
    }
    .social-media
    {
        font-size: ceil(($font-size-base * 0.8));
        display: flex;
        align-items: center;
        @include breakpoint(xs){
            font-size: ceil(($font-size-base * 0.65));
        }
        @include breakpoint(sm){
            font-size: ceil(($font-size-base * 0.7));
        }
        @include breakpoint(md){
            font-size: ceil(($font-size-base * 0.75));
        }
        & > span{
            display: inline-block;
            text-transform: uppercase;
            color:$color-date;
            margin-right: 12px;
        }
    }
}

.ul-socialmedia-post
{
    padding:0px;
    margin:0px;
    display: flex;
    align-items: center;
    li{
        padding:0px;
        margin:0px;
        margin-left: 15px;
        &::before
        {
            content:none;
        }
        &:first-child{
            margin-left: 0px;
        }
        &:last-child{
            margin-left: 18px;
        }
        .fa{
            display: inline-block;
            svg{
                width: 16px;
                height: auto;
                @include breakpoint(xs){
                    width: 13px;
                }
                @include breakpoint(sm){
                    width: 14px;
                }
                @include breakpoint(md){
                    width: 15px;
                }
            }
        }
        .twi
        {
            display: inline-block;
            svg{
                width: 16px;
                height: auto;
                @include breakpoint(xs){
                    width: 13px;
                }
                @include breakpoint(sm){
                    width: 14px;
                }
                @include breakpoint(md){
                    width: 15px;
                }
            }
        }
        .inst
        {
            display: inline-block;
            svg{
                width: 16px;
                height: auto;
                @include breakpoint(xs){
                    width: 13px;
                }
                @include breakpoint(sm){
                    width: 14px;
                }
                @include breakpoint(md){
                    width: 15px;
                }
            }
        }
        .linke
        {
            display: inline-block;
            svg{
                width: 16px;
                height: auto;
                @include breakpoint(xs){
                    width: 13px;
                }
                @include breakpoint(sm){
                    width: 14px;
                }
                @include breakpoint(md){
                    width: 15px;
                }
            }
        }
    }
}

.div-title
{
    margin-bottom: 30px;
    @include breakpoint(sm)
    {
        margin-bottom: 25px;
    }
    @include breakpoint(xs)
    {
        margin-bottom: 20px;
    }
    h1{
        position:relative;
        padding-top: 17px;
        &::before{
            content:'';
            width: 60px;
            height: 5px;
            background-color: $color-red;
            position: absolute;
            top:0px;
            left:0px;
            
            @include breakpoint(sm)
            {
                height: 4px;
            }
            @include breakpoint(xs)
            {
                height: 3px;
            }
        }
        @include breakpoint(sm)
        {
            padding-top: 15px;
        }
        @include breakpoint(xs)
        {
            padding-top: 10px;
        }
    }
    p{
        color:$color-title;
        font-size: ceil(($font-size-base * 1.05));
        letter-spacing: 1.2px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3em;
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.87));
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 0.92));
        }
        @include breakpoint(md)
        {
            font-size: ceil(($font-size-base * 1));
        }
    }
    .date-item{
        font-size: ceil(($font-size-base * 0.7));
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.6));
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 0.65));
        }
        span{
            vertical-align: middle;
            display: inline-block;
            i{
                margin-right: 3px;
                transform: translateY(1px);
            }
        }
    }   
}

.div-title-archive
{
    margin-bottom: 50px;
    @include breakpoint(xs)
    {
        margin-bottom: 25px;
    }

    @include breakpoint(sm)
    {
        margin-bottom: 40px;
    }
    h1{
        position:relative;
        padding-bottom: 22px;
        @include breakpoint(xs)
        {
            padding-bottom: 15px;
        }
        @include breakpoint(sm)
        {
            padding-bottom: 18px;
        }
        &::after{
            content:'';
            height: 3px;
            background-color: $color-red;
            position: absolute;
            bottom:0px;
            left:0px;
            width: 100%;
        }
    }
}

.sidebar-posts{
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0px;
    }
    @include breakpoint(xs){
        margin-bottom: 20px;
    }
    @include breakpoint(sm){
        margin-bottom: 30px;
    }
    @include breakpoint(md){
        margin-bottom: 45px;
    }
}

.item-post-element
{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 27px;
    margin-bottom: 33px;
    border-bottom: 1px solid #d5d8dc;
    .text-item-post-element
    {
        flex:10;
        h4
        {
            margin-bottom: 10px;
        }
        p{
            font-size: ceil(($font-size-base * 0.9));
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.8));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.75));
            }
            @include breakpoint(md)
            {
            }
            margin-bottom: 12px;
        }
        .date-item{
            font-size: ceil(($font-size-base * 0.7));
            @include breakpoint(xs)
            {
                font-size: ceil(($font-size-base * 0.6));
            }
            @include breakpoint(sm)
            {
                font-size: ceil(($font-size-base * 0.65));
            }
            @include breakpoint(md)
            {
            }
            span{
                vertical-align: middle;
                display: inline-block;
                i{
                    margin-right: 3px;
                    transform: translateY(0px);
                }
            }
        }
    }
    .image-item-post-element
    {
        margin-left: 3.5%;
        a
        {
            display: inline-block;
            img
            {
                width: 170px;
                height: auto;
            }
            &:hover
            {
                img{
                    filter: saturate(180%);
                }   
            }
        }
    }
    &:last-child
    {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
    }
}


.content-banner-position
{
    position:relative;
    .banner-left{
        position: absolute;
        top:0px;
        width: 90px;
        height: 500px;
        background-color: red;
        transform: translateX(-100px);
        @include breakpoint(md){
            //display: none;
        }
        @include breakpoint(sm){
            display: none;
        }
        @include breakpoint(xs){
            display: none;
        }
    }
    .banner-right{
        position: absolute;
        top:0px;
        width: 90px;
        height: 500px;
        background-color: red;
        transform: translateX(calc(1150px));
        @include breakpoint(md){
            //display: none;
            transform: translateX(calc(970px));
        }
        @include breakpoint(sm){
            display: none;
        }
        @include breakpoint(xs){
            display: none;
        }
    }
    
    .fixed-banner-lados
    {
        position: fixed;
        margin-top: 100px;
        
    }
}


.reportaje
{
    h4{
        font-family: $font-menu;
        //border-bottom:1px solid $color-texto;
        font-size: ceil(($font-size-base * 1.15));
        font-weight: 500;
        margin-bottom: 0px;
        @include breakpoint(xs)
        {
            font-size: ceil(($font-size-base * 0.80));
        }
        @include breakpoint(sm)
        {
            font-size: ceil(($font-size-base * 1));
        }
        @include breakpoint(md)
        {
            font-size: ceil(($font-size-base * 1.1));
        }
        span{
            display: inline-block;
            position: relative;
            padding-bottom: 4px;
            &::after{
                content:'';
                display: inline-block;
                position:absolute;
                bottom:-2px;
                left:0px;
                background-color: $color-red;
                width: 100%;
                height: 4px;
            }
        }
    }
    .data-reportaje
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 50px; 
        background-color: rgba($color-background,0.17);  
        padding-top: 22px;
        padding-bottom: 20px; 
        padding-left: 20px;
        padding-right: 20px;
        
        @include breakpoint(xs)
        {
            display: block;
            padding-top: 17px;
            padding-bottom: 12px; 
            padding-left: 12px;
            padding-right: 15px;
            margin-bottom: 20px; 
        }
        .item
        {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint(xs)
            {
                margin-bottom: 16px;
                border-bottom: 1px solid rgba($color-title, 0.17);
                padding-bottom: 8px;
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }    
            }

            @include breakpoint(sm)
            {
                display: block;   
            }

            .image-item
            {
                margin-right: 15px;
                a{
                    display: inline-block;
                    img{
                        width: 100px;
                        height: auto;
                        @include breakpoint(xs)
                        {
                            width: 85px;
                        }
                        @include breakpoint(sm)
                        {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
                @include breakpoint(xs)
                {
                    margin-right: 10px;       
                }
                @include breakpoint(sm)
                {
                    margin-bottom: 13px;
                }
            }
            .text-item
            {
                h5{
                    margin-bottom: 5px;
                    font-family: $font-menu;
                    font-weight: 500;
                    font-size: ceil(($font-size-base * 0.9));
                    @include breakpoint(xs)
                    {
                        font-size: ceil(($font-size-base * 0.7));
                    }
                    @include breakpoint(sm)
                    {
                        font-size: ceil(($font-size-base * 0.85));
                    }
                    @include breakpoint(md)
                    {
                        font-size: ceil(($font-size-base * 0.88));
                    }
                }
                p{  
                    margin-bottom: 0px;
                    font-size: ceil(($font-size-base * 0.82));
                    line-height: 1.25em;
                }
            }
            
            &:nth-child(1){
                flex:9;
                padding-right: 20px;
                border-right: 1px solid rgba($color-title, 0.17);
                
                @include breakpoint(xs)
                {
                    display: block;    
                }
                .image-item
                {
                    margin-right: 15px;
                    
                    a{
                        display: inline-block;
                        @include breakpoint(xs)
                        {
                                width: 100%;
                        }
                        img{
                            width: 230px;
                            height: auto;
                            @include breakpoint(xs)
                            {
                                width: 100%;
                                height: auto;
                            }
                            @include breakpoint(sm)
                            {
                                width: 100px;
                                height: auto;
                            }
                        }
                    }
                    @include breakpoint(xs)
                    {
                        margin-right: 0px;
                        margin-bottom: 10px;       
                    }
                }
                @include breakpoint(xs)
                {
                    padding-right: 0px;
                    border-right: 0px;
                }
                @include breakpoint(sm)
                {
                    flex:5;
                }
                
            }
            &:nth-child(2){
                flex:5;
                padding-left: 20px;
                padding-right: 10px;
                @include breakpoint(xs)
                {
                    padding-right: 0px;
                    padding-left: 0px;
                }
                @include breakpoint(sm)
                {
                    flex:5;
                }
            }
            &:nth-child(3){
                flex:5;
                padding-left: 10px;
                @include breakpoint(xs)
                {
                    padding-left: 0px;
                }
                @include breakpoint(sm)
                {
                    flex:5;
                } 
            }
            
        }
    }
}


.cuadro
{
    background-color: rgba($color-background,0.17); 
    padding:16px 25px 15px 25px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    @include breakpoint(sm)
    {
        max-width: 290px;
    }
    @include breakpoint(xs)
    {
        padding:13px 15px 12px 15px;
    }
    @include breakpoint(sm)
    {
        padding:14px 20px 13px 20px;
    }
    @include breakpoint(md)
    {
        padding:15px 24px 14px 24px;
    }
    h3{
        color:$color-red;
        text-align: center;
        font-size:ceil(($font-size-base * 1.21));
        font-weight: 500;
        margin-bottom: 18px;
        font-family: $font-menu;
        @include breakpoint(xs)
        {
            font-size:ceil(($font-size-base * 1.05));
        }
        @include breakpoint(sm)
        {
            font-size:ceil(($font-size-base * 1.16));
        }
        @include breakpoint(md)
        {
            font-size:ceil(($font-size-base * 1.19));
        }
        span{
            border-bottom: 3px solid $color-red;
        }
    }
    .imagen
    {
        img{
            width: 295px;
            height: 435px;
            @include breakpoint(sm)
            {
                width: 280px;
                height: 420px;
            }
            @include breakpoint(xs)
            {
                width: 100%;
                height: auto;
            }
        };
        margin-bottom: 12px;
    }
    h4{
        font-size:ceil(($font-size-base * 1.20));
        text-align: center;
        margin-bottom: 8px;
        font-weight: 600;
        @include breakpoint(xs)
        {
            font-size:ceil(($font-size-base * 1));
        }
        @include breakpoint(sm)
        {
            font-size:ceil(($font-size-base * 1.1));
        }
        @include breakpoint(md)
        {
            font-size:ceil(($font-size-base * 1.15));
        }
    }

    p{
        margin-bottom: 0px;
        font-size: ceil(($font-size-base * 0.95));
        line-height: 1.4em;
        font-style: italic;
        text-align:center;
        @include breakpoint(sm)
        {
            font-size:ceil(($font-size-base * 0.9));
        }
        @include breakpoint(xs)
        {
            font-size:ceil(($font-size-base * 0.80));
        }
    }   
}


.slider-cuadro
{
    .slick-slide
    {
        height: auto;
        min-height: inherit;
    }
}



.noticias-columnas
{
    display: flex;
    flex-wrap: nowrap;
    border-top: 5px solid $color-red;
    @include breakpoint(xs)
    {
        display: block;
        border-top:none;
    }
    .item
    {
        
        flex:1;
        border-left: 3px solid $color-white;
        border-right: 3px solid $color-white;
        @include breakpoint(xs)
        {
            margin-bottom: 20px;
            border-top: 4px solid $color-red;
            
        }
        &:last-child{
            border-right: none;
        }
        &:first-child{
            border-left: none;
        }
        .imagen-item
        {
            a{
                display: inline-block;
                overflow:hidden;
                @include breakpoint(xs)
                {
                    width: 100%;
                }   
                &:hover{
                    img{
                        transform:scale(1.02);
                        filter: grayscale(80%);
                    }
                }
                img{
                    transition: all .4s ease-in-out;
                    max-width: 100%;
                    height: auto;
                    @include breakpoint(xs)
                    {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            
        }
        .text-item{
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            @include breakpoint(xs)
            {
                padding-left: 10px;
                padding-right: 10px;
            }
            h4{
                font-size:ceil(($font-size-base * 1.15));
                text-align: center;
                margin-bottom: 8px;
                font-weight: 600;
            }

            h5{
                @include breakpoint(xs)
                {
                    margin-bottom: 10px;
                }
            }
            p{
                margin-bottom: 0px;
                font-size: ceil(($font-size-base * 0.9));
                margin-bottom: 10px;
                line-height: 1.35em;
                @include breakpoint(xs)
                {
                    font-size: ceil(($font-size-base * 0.75));
                }
                @include breakpoint(sm)
                {
                    font-size: ceil(($font-size-base * 0.85));
                }
            }
            .date-item{
                font-size: ceil(($font-size-base * 0.7));
                span{
                    vertical-align: middle;
                    display: inline-block;
                    i{
                        margin-right: 3px;
                        transform: translateY(0px);
                    }
                }
                @include breakpoint(xs)
                {
                    font-size: ceil(($font-size-base * 0.6));
                }
                @include breakpoint(sm)
                {
                    font-size: ceil(($font-size-base * 0.65));
                }

            }
        }
    }
}


.contenedor-noticiascolumnas-importante{
    margin-top: 50px;
    @include breakpoint(xs)
    {
        margin-top: 20px;
    }
    @include breakpoint(sm)
    {
        margin-top: 40px;
    }
}


