

body,html{
	//background-color:red;
	
	p{
		margin:0px;
		margin-bottom: 27px;
		@include breakpoint(xs){
			margin-bottom: 17px;
		}
		@include breakpoint(sm){
			margin-bottom: 22px;
		}
		@include breakpoint(md){
			margin-bottom: 25px;
		}
	}
	@include breakpoint(lg)
	{
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 0.9));
		line-height:1.5;
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 0.85));
		line-height:1.4;
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 0.8));
		line-height:1.35;
	}

}
h1{
	margin:0px;
	margin-bottom:20px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 2.3));
		margin-bottom: 18px;	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 2.1));
		margin-bottom: 16px;
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 1.5));
		margin-bottom: 13px;
	}
}
h2{
	margin:0px;
	margin-bottom:15px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 1.8));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 1.6));
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 1.5));
	}
}
h3{
	margin:0px;
	margin-bottom:15px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 1.4));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 1.2));
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 1));
	}
}
h4{
	margin:0px;
	margin-bottom:15px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 1.2));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 1));
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 0.9));
	}
}
h5{
	margin:0px;
	margin-bottom:15px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 0.9));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 0.85));
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 0.75));
	}
}
h6{
	margin:0px;
	margin-bottom:15px;
	a{
		color:$color-title;
		&:hover,&:active,&:focus{
			color:$color-title;
			opacity: .8;
		}
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 0.85));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 0.8));
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 0.75));
	}
}


ul{
	list-style-type: none;
	margin:0px;
	margin-bottom: 27px;
	padding:0px;
	padding-left:15px;
	li{
		margin:0px;
		padding:0px;
		position:relative;
		padding-left: 17px;
		margin-bottom: 14px;
		@include breakpoint(md)
		{
			margin-bottom: 13px;
			padding-left: 16px;	
		}

		@include breakpoint(sm){
			margin-bottom: 12px;
			padding-left: 15px;
		}
		
		@include breakpoint(xs){
			margin-bottom: 10px;
			padding-left: 13px;
		}
		&::before{
			content:"•";
			font-size: ceil(($font-size-base * 0.8));
			display: inline-block;
			position:absolute;
			left:0px;
			top:4px;
			color:$color-red;
			@include breakpoint(md)
			{
				font-size: ceil(($font-size-base * 0.75));
				top:2px;	
			}

			@include breakpoint(sm){
				font-size: ceil(($font-size-base * 0.7));
				top:3px;
			}
			
			@include breakpoint(xs){
				font-size: ceil(($font-size-base * 0.65));
				top:3px;
			}
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
	
	@include breakpoint(xs){
		margin-bottom: 17px;
	}
	@include breakpoint(sm){
		margin-bottom: 22px;
	}
	@include breakpoint(md){
		margin-bottom: 25px;
	}
	
	&:last-child{
		margin-bottom: 0px;
	}
	
}

.h2-home{
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: ceil(($font-size-base * 2.17));
	span{
		display: inline-block;
		border-bottom: 4px solid $color-red;
	}
	@include breakpoint(md)
	{
		font-size: ceil(($font-size-base * 2));	
	}

	@include breakpoint(sm){
		font-size: ceil(($font-size-base * 1.8));
		margin-bottom: 40px;
	}
	
	@include breakpoint(xs){
		font-size: ceil(($font-size-base * 1.4));
		margin-bottom: 25px;
	}
}


.content-pub-header
{
	
}

.pub-header
{
	margin-top: 15px;
	margin-bottom:10px;
	a{
		display: inline-block;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}


.pub-medio{
	margin-bottom:55px;
	@include breakpoint(xs){
		margin-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
	}
	a{
		display: inline-block;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}

.publicidad-home-vertical
{
	padding-top: 50px;
	text-align: center;
	.pub-medio{
		padding-left: 15px;
		padding-right: 15px
		img{
			max-width: 100%;
			height: auto;
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
	@include breakpoint(xs){
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.pub-sidebar
{
	margin-bottom: 55px;
	width: 100%;
	
	margin-top: 15px;
	margin-bottom:10px;
	a{
		display: inline-block;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	

	@include breakpoint(xs)
    {
        margin-bottom: 0px;
    }
    @include breakpoint(sm)
    {
        margin-bottom: 35px;
    }
    @include breakpoint(md)
    {
        margin-top: 50px;
    }
}